$btn-font-size: 1.2em !default;
$btn-font-weight: 400 !default;
$btn-border: 1px solid transparent !default;
$btn-color: #000;
$btn-color-alt: #fff;
$btn-bg: #fbfbfb;
$btn-border-radius: .25rem;
$btn-padding: .375rem .75rem;

$btn-bg-active: #00B83B;
$btn-bg-danger: #EF2E3E;
$btn-bg-info: #0089C4;
$btn-bg-primary: #099AED;
$btn-bg-dark: #363636;
